@require '~vuetify/src/stylus/settings/_theme.styl'
@require '~vuetify/src/stylus/settings/_variables.styl'

$body-font-family = 'IRANSans', sans-serif
$heading-font-family = 'IRANSans', sans-serif
$badge-font-family = 'IRANSans', sans-serif

